/*
    FONTES
*/

@font-face {
  font-family: youmudererbb;
  src: url('./fonts/youmurdererbb.ttf');
}

/*
  /FONTES
*/

/*
    CONFIGURAÇÕES GERAIS
*/

.App
{
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #93009c;
}

/*
    /CONFIGURAÇÕES GERAIS
*/

/*
    Noticia
*/

.App .Noticia
{
  width: 80%;
  height: 100%;
  font-weight: lighter;
  font-family: youmurdererbb;
}

.App .Noticia h1
{
  font-size: 2vw;
  color: Black;
}

.App .Noticia h2
{
  font-size: 1.75vw;
  color: Black;
}

.App .Noticia h3
{
  font-size: 1.5vw;
  color: Black;
}

.App .Noticia p
{
  font-size: 1vw;
  color: white;
}

/*
    //Noticia
*/